<nav class="sidebar" id="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i> <span class="sideMenuItemsList"> &nbsp;{{ 'dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['/employees']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i><span class="sideMenuItemsList"> &nbsp;{{ 'employees' | translate }} </span>
        </a>
        <!-- <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'boostrapElement' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'boostrapGrid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'component' | translate }}
        </a>-->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i id="subMenu" class="fa fa-chevron-down" [class.down]="showMenu === 'pages'"></i><span class="sideMenuItemsList"> &nbsp; {{ 'menu' | translate }}</span></span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span class="sideMenuItemsList">{{ 'submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span class="sideMenuItemsList">{{ 'submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span class="sideMenuItemsList">{{ 'submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i><span class="sideMenuItemsList"> &nbsp;{{ 'blankpage' | translate }}</span>
        </a>
    
    </ul>
</nav>