<div [@routerTransition]>
  <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
  <!--   
  <image-upload id="uploadImage" [max]="1" [buttonCaption]="'Select Image!'" [dropBoxMessage]="'Drop your image here!'" [extensions]="['jpg','png']"
    (onFileUploadFinish)="imageUploaded($event)"></image-upload> -->
  <div class="row">
    <div style="text-align:center">
      <svg id='gauge' style="min-width: 100%; display:block"></svg>
      <span class="col percentageFont">{{gaugeOptions.value}}%</span>
    </div>
    <div style="text-align:center">
      <svg style="min-width: 100%; display:block" id='gauge02'></svg>
      <span class="col percentageFont">{{gaugeOptions02.value}}%</span>
    </div>
  </div>
</div>